$dark: #4f5d75;
$darker: #2d3142;
$darker-hover: #3e4252;
$light: #bfc0c0;
@import "reset.css";
@import "../components/Spinner/spinner.scss";
@import "day-view.scss";
@import "navigation.scss";
@import "auth-section.scss";
@import "faq-section.scss";
* {
    box-sizing: border-box;
    margin: 0;
    text-rendering: optimizelegibility;
    font-smooth: auto;
    -webkit-font-smoothing: auto;
}

body {
    padding: 0;
    background-color: #fbfbfb;
    font-family: "OpenSans", sans-serif;
}

h2 {
    text-align: center;
    font-weight: 200;
}

a {
    outline: none;
    text-decoration: none;
    color: $dark;
}

button,
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a:hover {
    text-decoration: underline;
}

:required {
    box-shadow: none;
}

.container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
}

.container-app {
    flex-direction: row;
}

.unmask-password {
    position: absolute;
    height: 1rem;
    right: 0.5rem;
    font-size: 0.55rem;
    cursor: pointer;
    color: $dark;
    padding: 0 .33rem;
}
